
.textEntry{
    background-color:rgba(255, 255, 255, 0.553);
    border-radius: 14px;
    border: 0rem;
    align-content: center;
    margin: 10px;
    padding: 5px;
}

.textBox{
    background-color:rgba(255, 255, 255, 0.553);
    border-radius: 5px;
    border: 0rem;
}


.form{
    background-color:rgba(20, 193, 241, 0.298);
    border-radius: 30px;
    box-shadow: -1px 4px 20px hsla(191, 66%, 25%, 0.498);
    content: center;
    padding: 2rem;
    margin: 8rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button {
    border-radius: 14px;
    color:white;
    background-color:rgb(74, 97, 245);
}